html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #header {
   height: 10%;
   position: absolute;
   width: 100%;
   background-color: #0D47A1;
   top:0px;
   padding-left: 5px;
 }

.fa-github {
  color: #eeeeee;
  position: absolute;
  top: 5%;
  right: 10px;
}

#map {
  height: 100%;
  width: 100%;
  position:absolute;
  right:0;
  border:0px;
  bottom: 0px;
  background-color: #000000;
}

.mdl-layout-title {
  margin-left: -20px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  /*z-index: 2000px;*/
}

#oi-controls {
  margin-bottom: 85px;
}
.route-option {
  width: 90%;
  height: auto;
  /*position: */
  align-self: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  background-color: #80CBC4;
  margin-bottom: 15px;
  position: static;
  clear: both;
}

/*#option1 {
  top:230px;
  position: absolute;
}*/

.route-title {
  margin: 8px 8px 16px;
}
/*#option2 {
  top:390px;
  position: absolute;
}*/

/*#option3 {
  top:550px;
  position: absolute;
}*/

#origin-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 90%;
  align-self: center;
  top: 50px;
  position: absolute;
}
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-bottom: 30px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 90%;
  align-self: center;
  top: 95px;
  position: absolute;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}
