html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 .sidenav {
     height: 88%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #F5F5F5;
     overflow-x: hidden;
     /*overflow-y: scroll;*/
     transition: 0.5s;
     padding-top: 70px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }

.sidenav span {
  position: absolute;
  top: 0px;
  font-size: 25px;
  color: #616161;
  padding: 16px 10px;
  font-family: Roboto;
}
 /*.sidenav a:hover, .offcanvas a:focus{
     color: #aaaaaa;
 }*/

 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 0px;
     font-size: 30px;
     /*margin-left: 50px;*/
 }

 #main {
     transition: margin-left .5s;
     padding: 16px;
     background-color: #009688;
     height: 23px;
 }

 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }

.fa-github {
  color: #eeeeee;
  position: absolute;
  top: 5%;
  right: 10px;
}

#map {
  top: 55px;
  width: 100%;
  position:absolute;
  right:0;
  border:0px;
  bottom: 0px;
  background-color: #000000;
}

.mdl-layout-title {
  margin-left: -20px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  /*z-index: 2000px;*/
}

#oi-controls {
  margin-bottom: 85px;
}

.route-option {
  width: 90%;
  height: auto;
  /*align-content: center;*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  background-color: #80CBC4;
  margin: 12px;
  position: static;
  clear: both;
  cursor: pointer;
}

.route-option:hover {
  background:#4DB6AC;
}
.route-title {
  margin: 8px 8px 16px;
}

#origin-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 90%;
  align-self: center;
  top: 50px;
  position: absolute;
}
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-bottom: 30px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 90%;
  align-self: center;
  top: 95px;
  position: absolute;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

.fa-github {
  position: absolute;
  top: 10px;
}
