/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #header {
   height: 7%;
   position: absolute;
   width: 100%;
   background-color: #aaaaaa;
   top:0px;
 }

#map {
  height: 93%;
  width: 70%;
  position:absolute;
  right:0;
  border:0px;
  bottom: 0px;
  /*background-color: #000000;*/
}
/* Optional: Makes the sample page fill the window. */
/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/
/*#user-input {
  height:100%;
  width:30%;
  position:absolute;
  left:0;
  padding: 10px 0px 0px 10px;
}*/

#sidebar {
  width: 30%;
  height: 93%;
  position:absolute;
  left: 0;
  bottom: 0px;
}


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  /*z-index: 2000px;*/
}

#origin-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  left: 5%;
  /*height: 100px;*/
  top: 200px;
  position: absolute;
}
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  left: 5%;
  /*height: 200px;*/
  top: 250px;
  position: absolute;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

/*#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}*/
